html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, blue, navy);
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 50%;
  padding: 20px;
}

.clock-face {
  height: 100%;
  width: 100%;
  position: relative;
}

.hand {
  width: 50%;
  height: 4px;
  background: black;
  top: 50%;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: ease-in-out;
}

.second-hand {
  background: red;
}
