html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, red, green);
}
